html {
    font-family: Verdana, sans-serif;
    font-size: 14px;
}
body {
    background-color: #eeeeef;
    margin: 0;
}

#container {
    margin: 1em;
}

.editors {
    __width: 95%;
    max-width: 900px;
    margin-bottom: .5em;
}

.editor {
    display: inline-block;
    width: 49%;
    __background-color: #bfbfbf;
    vertical-align: top;
    __border: 1px solid #bfbfbf;
    __border-radius: 4px;
}

.editor .header {
    display: inline-block;
    font-family: arial, sans-serif;

    padding: 0 2em;
    line-height: 1.8rem;
    text-align: center;
    color: #fff;
    background-color: #61616a;
    border-radius: 5px 5px 0 0;
    margin-left: .5rem;
}

.editor .ace {
    height: 35em;
    width: 100%;
    border: 1px solid #a5a5a5;
    border-radius: 4px;

    /* for tab overlapping */
    /* this z-index causes focus problem on editor */
    /*
    position: relative;
    height: 350px;
    top: -1px;
    z-index: -999;
     */
}

.editor-right {
    float: right;
}

.editor-console {
    width: 100%;
    box-sizing: border-box;
}

#logo {
    margin: 0;
    padding: .1em 1em;
    background-color: #343440;
    height: 4rem;
}

#logo:hover {
    background-color: #61616a;
}

#logo img {
    width: 60px;
}

#logo h1 {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    padding-left: .3em;
    font-family: arial, sans-serif;
    font-size: x-large;
    font-weight: bold;
    color: #eeeeef;
}

#logo a {
    text-decoration: none;
    color: #164751;
}

#ctrl {
    _display: inline;
    margin: 1em 0;
}

.btn {
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;;
    font-family: arial, sans-serif;
    font-size: 1.2rem;
    padding: 7px 24px;
    text-decoration: none;
    background: #3473af;
    border: none;
}

.btn:hover:enabled {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    transition: .2s;
    background-color: #0256a6;
}

.btn:active {
    position: relative;
    top: 2px;
}

.btn:focus {
    -webkit-transform: none;
    outline: none;
    transform: none;
}

.btn:disabled {
    background-color: #7f8596;
}

.btn-run {
}


.btn-other {
}

.btn-other:hover {
}



/*--------------------------------------------------------------------------------*/
#forkongithub a {
    background: #1b1d21;
    color: #fff;
    text-decoration: none;
    font-family: arial, sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 5px 40px;
    line-height: 2rem;
    position: relative;
    __transition: 0.1s;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);

    width: 180px;
    position: absolute;
    top: 50px;
    right: -60px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    z-index: 999;
}

#forkongithub a:hover {
    background: #3473af;
    color: #fff;
}

#forkongithub a::before, #forkongithub a::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    height: 1px;
    background: #fff;
}

#forkongithub a::after {
    bottom: 1px;
    top: auto;
}

@media (max-width: 800px) {
    #forkongithub {
        display: none;
    }
}
