
body {
    font-family: Verdana, sans-serif;
    background-color: #eeeeef;
    margin: 0;
}

#container {
    margin: 1em;
}

.editors {
    __width: 95%;
    max-width: 800px;
    margin-bottom: .5em;
}

.editor {
    display: inline-block;
    width: 49%;
    __background-color: #bfbfbf;
    vertical-align: top;
    __border: 1px solid #bfbfbf;
    __border-radius: 4px;
}

.editor .header {
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 12px;
    padding: 0 2em;
    line-height: 1.4rem;
    text-align: center;
    color: #fff;
    background-color: #61616a;
    border-radius: 5px 5px 0 0;
    margin-left: .5rem;
}

.editor .ace {
    height: 35em;
    width: 100%;
    border: 1px solid #a5a5a5;
    border-radius: 4px;

    /* for tab overlapping */
    /* this z-index causes focus problem on editor */
    /*
    position: relative;
    height: 350px;
    top: -1px;
    z-index: -999;
     */
}

.editor-right {
    float: right;
}

.editor-console {
    width: 100%;
    box-sizing: border-box;
}

#logo {
    margin: 0;
    padding: .1em 1em;
    background-color: #343440;
}

#logo:hover {
    background-color: #61616a;
}

#logo img {
    width: 60px;
}

#logo h1 {
    display: inline;
    vertical-align: .8em;
    padding-left: .3em;
    font-family: arial, sans-serif;
    font-size: larger;
    font-weight: bold;
    color: #eeeeef;
}

#logo a {
    text-decoration: none;
    color: #164751;
}

#ctrl {
    _display: inline;
    margin: 1em 0;
}

.button {
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;;
    font-family: arial, sans-serif;
    font-size: 13px;
    padding: 7px 24px;
    text-decoration: none;
    background: #3473af;
    border: none;
}

.button:hover:enabled {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    transition: .2s;
}

.button:active {
    position: relative;
    top: 1px;
}

.button:focus {
    -webkit-transform: none;
    outline: none;
    transform: none;
}

.button:disabled {
    background-color: gray;
}

.button-run {
}


.button-other {
}

.button-other:hover {
}


.btn-circle span {
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}


/*--------------------------------------------------------------------------------*/
#forkongithub a {
    background: #1b1d21;
    color: #fff;
    text-decoration: none;
    font-family: arial, sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 5px 40px;
    font-size: 1rem;
    line-height: 2rem;
    position: relative;
    __transition: 0.1s;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

#forkongithub a:hover {
    background: #3b5c9e;
    color: #fff;
}

#forkongithub a::before, #forkongithub a::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    height: 1px;
    background: #fff;
}

#forkongithub a::after {
    bottom: 1px;
    top: auto;
}

@media screen and (min-width: 800px) {
    #forkongithub {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        width: 200px;
        overflow: hidden;
        height: 200px;

    }

    #forkongithub a {
        width: 180px;
        position: absolute;
        top: 50px;
        right: -60px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
    }
}
